.container {
  z-index: 990;
  background-color: var(--primary-dark);  flex-direction: column;
  flex: none;
  justify-content: center;
  width: 80px;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  box-sizing: border-box;

  }
