.cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Changed from space-evenly for center alignment */
  align-items: center;
}
.homeTabNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, filter 0.3s ease;

}
.homeTabNav:hover{
  transform: scale(1.1); /* Slightly enlarges the icon */
  filter: brightness(1.2); /* Slightly brightens the icon */
}

.homeRn:hover{
  transform: scale(1.1); /* Slightly enlarges the icon */
  filter: brightness(1.2); /* Slightly brightens the icon */
}

.homeRn {
  font-size: 24px;
  font-weight: bold;
  color: brown;
  padding: 5px;
  margin: 5px;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.homeTab {
  display: flex;
  margin: 10px;
  padding-bottom: 200px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.homeTabLink {
  display: inline-block;
  margin: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.homeTabLink:hover {
  transform: scale(1.1); /* Slightly enlarges the icon */
  filter: brightness(1.2); /* Slightly brightens the icon */
}

.current {
  color: red; /* Example style for the active link */
}

.logoNav {
  display:flex;
  padding-bottom: 280px;

}
.downloadButton1 {
  margin-top: 250px;

  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Hover effect for the download button */

.downloadButton{

}
.downloadButton:hover {
      margin-top: 220px;
    transform: scale(1.1); /* Slightly enlarges the icon */
    filter: brightness(1.2); /* Slightly brightens the icon */
  }

  @media (max-width: 587px ) {
  
   .logoNav{
     
    margin-bottom:-150px;

   }
   
    

  }
  @media (max-height: 787px ) {
    .homeRn{
      padding: 10px;
      
  
  
    }
   .logoNav{
     
    margin-bottom:-250px;

   }
   
    

  }