.container {
    background-color: #0f1414;
    background-image: linear-gradient(#1c1f1f4d, #1c1f1f4d), url('../Images/629759bce5f0f5ed3d86fe81_bg-image.jpg');
    background-position: 0 0, 50%;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex;
}

.content {
    background-color: var(--primary-dark);
    display: flex;
    padding: 20px;
    height: 60vh;
    width: 90vh;
    position: relative;
    overflow: hidden;
    flex-direction: row;
align-items: center;   
}
